<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6797d/control/0/plot" value="false" />
    <add key="/lpc/nct6797d/control/1/plot" value="false" />
    <add key="/lpc/nct6797d/control/2/plot" value="false" />
    <add key="/lpc/nct6797d/control/3/plot" value="false" />
    <add key="/lpc/nct6797d/control/4/plot" value="false" />
    <add key="/lpc/nct6797d/control/5/plot" value="false" />
    <add key="/lpc/nct6797d/control/6/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1381" />
    <add key="mainForm.Location.Y" value="225" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6797d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6797d/fan/1/plot" value="false" />
    <add key="/intelcpu/0/expanded" value="true" />
    <add key="/ram/expanded" value="false" />
    <add key="startMinMenuItem" value="true" />
    <add key="/hdd/0/expanded" value="true" />
    <add key="/lpc/nct6797d/expanded" value="true" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAEsTnLh0LfsNDwaGA/83t/wwZQADcafT+9vdIWwJp7CN1aaMYPaB/wATst5SMAAAAA==" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAPumMnHpWvYbHgwMB/4rF/4wZQCCQ3zsTp6X291h7OSN1aaMIA5QDQCUsi4iMAAAAA==" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEALuWP3vpWvYbHgwMB/47q70zZQACtXo9p/PP2t1B7J/Nek6XAlpNGUEcoBoAx4/SfDAAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAOPwzlm6lv2GBwPDgf9XV8xkZAADO6eDNzKYIGwbp0M/97HA2NdYkqDi9k7ZvklwNRvvHoGrecMLE7dzWrEdoX761US4eouDQsIwtsRFhPonsggz2Y8gzGQ6ARN3cNKvhpnj6PRhajKU7eSkMC8FrqZKMB7KtnXqmZQMN3NZgA47jO11NwGuZkIpwnzeOwjzt4inwNWcE0a4n7Ed4c6FTolwN0yOToKzL5yE6XV22mqWADfznlUKXI3vrkMsMLZSUxJczZxtCPdkOSTBzQn9g3CbuARM3M1JMARh5humRLje+bWdnDD2wiSEOR5fEWrunETY5XNMXB2SCA78D0uZyAgTfxaPcJvKS4Te7VdD+GDsv4dj4PFocwZh5pvzifAwDHyFCMNLMWrwuFjxE5FOADOfT5CUAgAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAOuPy1m6lv2GBwPDgf+/zs1kZIAClgrfLhh7ebe4OkTiwP99NyfC1RxtUVWDsQE7l92LSAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAOuPy1m6lv2GBwPDgf9CK2cyMgAB4wV1lwnXM5hAbIYJMi4vO2Ig7AMrnFPWJEHYDEudNT4kMsHUT1OFij+Y7hwrA1MzzVnsFYIt9TwRqibJJe0TRJzxwWXnC7Og4g1znSMSEeYczkXovfvrNTeMHSqLcMPcvUlwN4RwI/Q2mCLYjIug7AMznflOwOyd7vK8HOp+AWMXu5nJUPFCl66NKRD1Dm+c61/Fwf2+Z3Iy3D0V/jrsMLbb3QSoXeIud0uhdgVku+y7DTX/gZpLnzjUzAXXna3VE+Fu6+tE+PGSDlR9xnQX6XyYv4pcjp9MgbtNQQVq14EUlxrfFLj57LxQMx0UXfbOhJqjYOQi2JgEd7/PJ4RdR9gQ5nfzwcRNXNRZoOISc1zehsLcvNP5G1MiXG9SEyIcDLkRfpkoBTVnwQnn+Cuw8F/mfLE0Ce5+vkdQ9QtmOz84iYiXQ5vE1RkhnP/WWyYywsxvVYbqFXByWfEHqvfAdue7/xHumVt/jAXG7lqfCDdT3y4Z7rbejHS4esUNMXB/STyAuVnL5fAuhF9y3iLM3/gaYe+FXISbrzAiwnPZTyj7g6oLAAlXO0NUAwAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEABMqylm6lv2GBwPDgf/9U2cyMgABIwuv64TrGUxg9gNxl5cdMRB2wynnlDVJcLbGh0Qwm0Gl23WaKlRc4a9zrAxCjdgrBFvqOUQ9Y0a6a9qnJLj5F2YlwtX4PhcShrHn7oWqAbonhBthTuP1IywwNt8JqLjVctfn5VBzIoRd7WYmQ9gCJa5dG1PgejeffccNY7vdTYCIxzC43i2FmMO0J9d1322ovy6EuPaJI/Se3HAYbu8lnUS4vdL5SXC7jp9MgbMVVBLg/q3xTYH7hZ0XqncDm+vemVB2jZ+rYCPEHIaO2y4+nxD+PcKGML+bLwnuZnUWKDtllevb0BR4eH5jQoRnc00nJ4x9sRRhDt8jhJoHJxF2Hdokrg5OBMD0YL1lIiNMvFU5Ce7mFX8S4XF99z/CHJY2fz4YW+IBIn4P70KoOejRAXfPsp8IMwGZHf+eiAIAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEABMqylm6lv2GBwPDgf/9U2cyMkDBxTLfLhj70CZxdYjEgf/WWybC1QQ0q6rB2ADWkCT8SAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAEWTSyhEYRTHr1eeiYwQZQpRHrGYsHHPwWJqIiXJI82duaE8mo23BYpSkkcTE3ksJhYGC02yMaQpG68SYcpGaiblsVLEYu453139Ov3P63/PtzrZ7XRF3hslyfNXb3eESMFPNgU6Q4NoxJn+Vo1t0HRj0dgjdz0pGuvwJ5HiY7IzgzgBYvzEEqS/kr4O3B8U34bZFYqHY4tC8Xdw9RA/y016riNXtjFLARf3rSgrF5oiu4g3VhNvyCNLxKlYEytmnjMQX4HjgLgAp5j1+DpAcy7D6Y6VOWZN1bgTh/1tvMvZopX7Jue382w5NoW57EBlP00+M/mG3j4Le+V9FH03U0hvxsJcipthaFrs4i8Q9TcnhCdVbsoF2ZBlZv+VWpV9voyjXBU/HcQZmDwuPLyLoL2KofRLYbbHW9iHzHBiGxw3qKxJCBP6/gkrz5wfq3B9Q5q4gZNbYoBG3nEfFi5I74Hrc4rrENdTcoNH7Pnr9c5r96wHXzZpBrHkV+Ga5wGuI+t3aR4JIl8sPOf8nvC5uII09xA92sG5zlV6I3mY9Ey53Xh4JP5F8xsznHDfVHzoEb18IeK9bH0TR+E/06Kpm6gDAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAFOembN0LfsNDwaGA//PNM5kZACDDgfv1xlMEPYBx56yGCi7zzHyUhKUvcAx+04ilP3D4Y8gTLzAcakMQg3XKxh7kaP0c5j6NsdtH2HiMo59s2HiGxyjE2HiqxzX5sLYSxwjFRBmTr7VyQljh7sgzK+eDmNbOPpyI8QnmMLYaxxnboGxtzi2wdkxjs/LYW744HBoTTKUvcOBa14KlL3LsepVHJS9yfHIZJiaZY6i2mlwtmpBItydFltS4G7wvpsA99exUpi9Go7HbsPUn3BYKA5Tv8NRVx0mvsKxshPh91c6MPEbDgubYOIODs7bYHoLHEyVYXaVOCb6pcD9dZ4HprfB8dNMGNvAUbQRZs4Lh+usyXB7zT/D1ExwmMoHU3PAUZ4lCS6+PxRmvoOjADPCzWVNyXC/a3MnwtmmkklwPx68mgRXHw73o4HjpHMw9ZMcL55ExJfjfHF1SAI98D/v2ERoWl3ieFcFkfYM/ybC3XPyNcJehXUI97A/half5jhxPcLNBnYwNWscOWvS4eqXzoGl/12Owg8Qbt6xCxHXUW8Rdh2E27vF8RZSGr7LCGPPc1z+E8aucAQARF/zSYQDAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEANt1OWfpWvYbHgwMB/6bus9kZIAClnLfLhjbcb64OkTiwP+8YxPhaja2qKrB2AAHCgOHSAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEANt1OWfpWvYbHgwMB/6bus9kZIAC79cZTBBWg11PWQyUzWAfeSkJLp59JxHO/iOYBFezVAauxp7rFUL84o0jLDB232yYXqBdfMLCMHb1dIT5vtxwvQyar+B6Gdq2INQ8L0eYc2hNMlyca14KnF31Kg7uhiOTk+Hq9+r0csLYx0oRZh67jTBzoTjCHF11hHjytsNw9yxsQuh13oZQb6qcAFfPV/OGG8Y2/4wIt6l8ML0O9vIsCHP2h6bA9SYuFISHj+N8cXVIJB34n3dsIiy+7O+qwPTecDD8CzP/gP3J1wi7FNYh/M7+FGHXxPUINQZ28DC056xJh6tfOicGrkb4ASJeduxChEnUW4Q5B+H2FjjcykX48S4jwt7lP+HmOAAA5kuQsogCAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAEWTbUgTARzG55jEZmWZoI28DcEMiYxyBmnGoxYS5AdRKImxlxiBBRKkIcIUKaa33W7OMntRKVyDdH5IIqSsSCUpLApj9CISSQqmYBHsy2zdc6P79OPh93+543+VP84PjWyKVmk0zzeOHe9L0SSeUyselKyc0/7jhV9d0DrPkG950BBzKNxf1wnrF7vCN1pF1MbJ2QnHZpzSJTn4gXmXpRNuo1PhzadFTF1knmkTMXeSPX9XiChsJ4ePimg3k0tvi9hj/Z8vjZDNW7x4kKfyZxHjYXLjvcQ+lWrtAS/WO8ihCR8Wc8iGIi/cxeSUTBH3x8glbhGXVc69IOFdE/ccDvtQc5P714Z8MPSfVXi3yQdd3Kpw7yMfDrfRsQxK0Je5FF4ek/CskX0Wn0ooHGOtc6+EE19tCrcZJJQ7OLd9TULtGv28dD+8WfR3ZPhRlM/cfsiPtDv0rzVLiKYy/7hNRsF15vKfIF7OsLaltQfhdM7CwSCaq5m7ZBlHYsyLXTLW+9gn7pbR28M+TVdkpJr4Xqs1AaR+orM0EMDdrXTq0wPI0anf+X03XtSx/7Q9gHIt/WqHjIoO9mlxyrCkqbMSc/ftZG2kQcaTOfLsoIy3l8hGyNj+jb7e4sfKDPOCUj8yBrLylcNN3HD9z4CCXQ8F6NWbnMw2I7JMLhsVULdBXn0jYFeE+0SmBcS+s+f8hIDuUTqhqICiMjrW1wKGsyd1Sd6/oPqPTRgapz9/1YRXVR59kiX1f5l15+IvlXPiy2wDAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAEWTXUhTYRjHT2NSS7LVzZYkiRGKRZOwD4pMVv9YQSLmbmKNNWMsklpBtSJaw5sFI6wst76JtIEfeeHFEMtZCVsGnfd9Z4kYROShwAi8Wxfa6Tzv6Fz9+PN7/u9zDu+Z/NPeM7B82qUomaXX25LLFP1pdOSxZz5o+sfKDQFTm4f4UB6nC36DO1fl4Z09YXDjcYHWRcm64yufMBf5jqA8b8sjUt5m8NOgwMR5yn0Bgakj1Ok7K+CIEmdCAtFK4sqjAjXe//mPAWLFIdC3SfI+gZEUMW/W9zkgZzcKLHQQH3zOMVdBHK8SiOwgTl8TeDFMHPQIhCWH2jnUi7RnUx9Hy33av6yfY+XjkwY3f+YwL3oNnunl2H2dHLuHw9IQMDjs5hgLUU+ihcMxTLM1UY7DX3y0f5zD6Zf7ODlaf0t/F0fcRn5qJ0d9NeXpzRylj8i3n+KYLqG8SmOovUf5bK+KtzmaNV1VkVpNZ3nmVFxqkvu/YthboFx9z7CQpJ7ONwzdXdSjZhhKNtB7WSM6z5BzJsDwrIycoS6GCrP8zmaGcbfsv8LgNJFv/cCwv4N6hiYZtpfKs/Rzt66jWWuOYXRKcprh4wXZ/4lhzTfyw1s45nOU19VyrH1iqzYurn6Hj/26ZWDigQaLvJMhv4bBn8SuhxrcS8Sxbg3rB2mfWEJD4Tt1ZpMabr8kJ3VXQ30DOVnd77e/Mxe57qv0z2noGSE/e1lD1hWzFPmm/F9WKBr+AgwCUL5sAwAA" />
    <add key="/mainboard/expanded" value="true" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAAviy126lv2GBwPDgf/m8jMZGSDAjaXCtwvGFpovrg6ROPA/6u1EuJp9sapqMDYAG83y/UgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAAviy126lv2GBwPDgf/m8jMZGaCApcK3C8YWmi+uDpE48D/42ES4mqMtqmowNgC8JGIESAAAAA==" />
    <add key="/nvidiagpu/0/expanded" value="true" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEADPTzFu6lv2GBwPDgf+n3GczMoDBL/uZHzOYwMwDt+ynRsZA2EDgq58MYTvMsf92NBEuPu/LYRYY218BqoZ7gtPJNVA1OzgcJ1tCxRusHfdFQcUdZBxDopKgdkU5uOQlwc3kTevkhLGnLk+Cq7dvSIKZ47DWCaG+0vUI3A0fT0LFFbwdPU4g2Ov9oPbeaXL8tzwZ5keHp4tTIOwf6o41r+Ig7A2bHcomJcPNv7f+ONz8ewug6h9oO868nQBhX2hx+FEOtWsBj6Pbp0SYO+2TxFLgfg/VRISb3gSE+z35oOIFIo7Hm6Dia7ocle5C9X645DDvSzyErbHAcUMoTDzIUZIXqvcCi+PnmVD2ijjHmVMR5sdKQPziILPH2fskzA1Vdvv8oGokyhwLD0PFAw47mEdBzQemhxIWhJu/t8Lj0f6QBFR8wiOHTRJQc06sdzz8EhZHux0uV0DZYU5Oz48kwuN67qkkuPnz3ETVIYnvwP+oiCmMMLve/ISob3gT69z/CqpXYIlj8UuEexJXIuLo/yd42rBX35IIN3+STTI8XuIXp8PVVJTHwON9+klEWNlchcXdbnvpF/Cwsk+6AWUzBTh3I9KhPRszQu++H1B2zSQnABg3RvBgAwAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEADPTzFu6lv2GBwPDgf+ySfMYGcCgyk75ewYThP3LjjM5BspmYNgnnwxhN1jbM99OhIvnXYOyL7A4mgskwcV1pJPh4qc3wtRX2S8xhpmz2359ZCLcrsjEJLgavzyEOSzWCHZvGELN47UIccezR1hgbMHGJLiZveYINTEyCHaoSRLcLxonoewDt+yVTyTB3dYchHCz4txkuJqpi1Lg7L2f4+B2bZmcDDd/69rjcPc8XZgCt6vxTgLczMhCuDvtFd8g7JojngJnq6ohwmfXMrjf7epZE+HudJgOFU/Iclh3AqF3ypd4uPoLoVBxhzn2ynxQvQreDpdnJML9smcqInz0JOBx7TDnENxtdncDkuB6Xc4g3LwnIAWu124iIi5mSyDcuVgsCe6G/FeIOBKoRtgbcBxhptR2RFyvMBFShyTQA/8zGqczwtR7PYOqX8btVP0SkSbFpmmww9jfNyTCw99bLxnuF96N6XA3rMuLgatpuoRwT/w1hJmWd2FhFeXw5DGUHXDYcWYdQv2Mfwj19z5AxWdsdwQATy3ipGwDAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC3SXUhTYRwG8C2YUkhNrAyyQMq5DDW9kA08c/9ny6SLNrKwC/MjUzMbGCklZqBmmkGUHxFC4Y2gkBmiYEIfpxUWQmCJDkmMWmZKGiHNlDI7z87V7zw8//e855y331/Y2RPqy9Dpnq8dqbBs0K1fK6oV26tOae69asXPj/RrnRWGBNpfakWXkc4usKLRStsXLHC30cMfLGgapKcnLRhSaGNKKpK78zV3fFUQ8oP5k1kFOUfp8hkFY/30p1Abis3BZ31T4B3lbJFPwU0Pc++Ygqkc2r2swOynx2Ns2NRKT87bsPCOs7cj0jB4gnnfPRvObaabm23wFNPdw2kwLdKlAUFHJWd/1wnumAs1Gy4AvrlczXFGQdwh9g+EA32Z7AzoBecDzJd+2XFs4LTmpM92eFbyNMdO2/FwNztvTYKXE/SDdsHdxAJ+2xbBsol5SazAtYN51h872vYyPzxlx99B7nN8XjAVfJf0WqC8nf0mJzCSyrzTBRh7uIfLjYL+OuZlOwXuaPpilCDMyVnnLsHjbVy/tVcQU8ROvAFo20PX6oGQjexvmQMWE5n7aoD0PHorgFfh7HSOALOrXPPRFQdK3gf/y6gDNWeYr+5z4kYYc3OyE9n36a45B9pb6GceB2yBSyb9/5v189yQcFLLG4tVSXKlaL5m8Eq4n2tWj6uytp+zYXZVTAfpNw2qxATYmShUZcjPffbUq1IVVc3ZdSfFs2OsUSXSnaE5OkKV3CWuY4pVpX6Gnex0VfJv0ZmVquiD5zCrQpWyL+yfHVPFdZ359+MvZDWS5+Tpmlf+AUqkhKCoAwAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC3SW0gUYRwFcA2yC1YKeXnISGwHSdIMkRVMvgN5gSivDz2U7parRbuho86MayUpot2j0kxMhDAK1CQsNkOSyoIuD5qUkktRKtJDlsmOqWXbnJ2n3xzO/+Ob4W+et3V0rRrN8PMbWH5lNa/w8z4RexwIrTpkeGjJjtnPdHaeHStjacltx50gOmXYjoYkuiPZjqxGOley46yLnoiyo28XXe4owc67VsN7r8sI+MG8r1lGfg79tlHGSC9dMyCjOJquuyHj2RBnx2plXHQwT6iW4c6n2zplRE/Qg1My1l7znf+1DN+HOVsRWg7XfuZfqstgX093lpbBUUzXLpVDmqGvvFTRXsnZ8AQVTdE2w4pNw+i3AsPR7Qq2pbN/YlrF/Vx2ei4oKNWZz1UryHtQaPhhkQLHgsXweauC7s3sbOxX8PwDHZ6tojnusOHWdBXzEvOP3k5mOPOIBgWNW5nHFCj46+I9X7hUuH3f8kvTUN7Cfsg2Da+TmaeZNQR18Q7jSSp6a5lf6laQFUl/uqcgcDdnJ3sUPArh+W+OqTAVsWMaU9EYRVeMqAhYw379Hw0zccxt3jukWeifkobBYHa63muYXuSZhY8rcfQdO8dNTpw+wjyhyYlzgcxvtztxoM23k6lOtFyln3RUIkXXJP//L959ro89aORPN+giPjOR/3DLbxE8wTNrbupiOYazOW6PkFLpebMuTDo7ret00TfBe6Yl6qJq00nDq72O386OZYcuwrIyDM/e8oiCOd/e9ntE3ZTvuyY9wnqZPiXpwt+3h0WRuiiZZH+8RReZZ5jvE/NiMYx7kmJZEP8An56XJ6gDAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC3ST0hUURgF8DHK0ES0SMtM+qODmGUjFiYKHVDTsmbSCJMctUwb00hpY9Kid9+85hmFqBODkEgQ5EITMxhNxIvppiJKSTdW1CTiIksKQ0kb3pm3+nE43+W7vCu3VD3p2TyTZzKNruNM+gaT/4ubdiGq6ZLh7DUXlr7QaqGOTYfoneE6nkbQ97fpcB2jS+w6bG5aceho9tJDNTqGsuilnLtI7a4wHGzREPyTufWwBnshPeHPpwboa7EaqhPphRQNY+85O5qh4UEd861ZGmbtdKlZQ6KPPhmiIbSdftfsxI8PnG2od8JbzPzlsBO14fTHMSfqqumaNRXmRfqbR6CrkbNdXwUeJl4x/CtfYGahzLAnWUXSCfavuwT6i9iZOqKifpl5f6aKcy8qDZ/NV1G3Um547pSK3jh29sWpeDVN75kS8KRcNvxpRuCvmfnIbhXWHcw701W445lHnVax5uWe+V0Cs4G7pB4XuNnB/uNqgdeZzPVygYge7jDyWWBAMK9MUGHbSw/HqwjL5myG34Pbef7EhEBCFTsxLQLu/XRDq0BwCPvz/xQspjC/5d8ht5xOcwiMR7JzPlJgfpVnrnQqcEyy88eh4M5V5q0WBffCmF9IVnCxk95YoqCjjX7TraAttNEcZDJex3rqrlLu75WwWI8adqZJRPp4ZoFbYv0AZ4vHJcw5gX/XK5GwzE7uoMSQj3vGPJNoir1tOMlvy0F22vskom15hvsmJcp+85yCtxLOOXaKxiQqWuiw5xJBgXdYOCBx43vgvv59rDpzT63EajTfySPfKP4DpaJCY6gDAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAC3Sa0iTYRwF8CnYW0mlTkfqSFGHmXTBsjUJ+/+xYgxZ9k2zkZoJVlo0K1lieAvNsixr3hbaxbtIKIaWGoVYmrOVTe1m6IcuQ4tZCVmUvWf79ONwnvPAu0cap7vTKoyrJZKHfymi3kmy+NP29tNLS5Lzf4+2jFFnKrxUPkS30+GpgjqqnEsUfaWxniYKkbcfKiSbL/xmRRlpjLBZUUPFSlj2NJeV2bB9Pp5PLWDHJ3qEmhORH7f2UGYaXKLw4bYweGuvL9sOw3Fdy3mmBF5QyXmlCnaZkPNkAxzY4coxPx37+73YOIA83uc3VXnBhRmvKFANV5jVXOrYPKmsZKcncFNuHmsuYKdaJ3DUiYOi/Sv8uCgpWfSs3Upr9QdET2c4849sdKY1odwWmiLa8mADNx/DTvfgFrbW4uxdzxCOfpcg+ugNb95RjnufzQ3S2Dj6H9tjKdkN/d0B+fx5FfJtC3X03fG/FEhUNBOHXDe4iWvjkZuuCRxyCWdHDavZrMNdfeVZ3J+AfNnlKE79hby4IZLPt2LnzB7iqjLsZHVu5xzHezgrU3LEOXiXLIjrbei3uAzQiBz5Gm0eZ+7F/q1v1+n1DPYt2UGk7cD3uaeZo/BS5JG1zixPwdn8dQMkC4bLY4JZ6o6+h+kLbZ7HXf4vmmjkLTpC+yOKfe8aLD7ixfesV5hEJrt3kYcenbBUTy7xgyeHJRwogauXXCXjaewHNDbRxinkO28W0fpPuEt98TnZ5ejse6zir3+Q9whmavVGv6ymj+xDcHgOU90wOhZrGkk/wG6V98ldQCeguI8Ex5s3GLpJO4tOuukIBclwFxsb6B/6PrizqAMAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAEWSfUiTURTGXy2wKFKbjYZKivlFZDQpsQl7LkaIyCiicIjlbCyMpuFKR9D6YESauKRgmgoZ2iydg2X7o4JmIA6kmVjmptasoI+xVVpGi7B6z7Xev34873Ofc+65p+14eY89ZqpIENxL9zNsUcKfr7YnmU2MV0b/ZcGdxVxVnFNkrLuaWHv0Aa4vaES+s90C3yXSv/RaEEwk7lypQbGVePDgAC7nEasnzSzPRPy29ASr+0k5o/I59Gn+5xv1xPnv9HDIeQ/n9Age4yx4lKFm4gTFD+W6/GXdoXzVS+xxKrB3kfIL3vhgHeG6SoH2DcTOu7EsrYh4ei6dtfDMM48ULMrDMz/fYMVNlGMLp7LC2iMil++UsYZKrcj9zlUsy3BYZIlLyr6ZyKP2RpSOLTqRjXsS0FdDOQ+rGjDZRWdnQqkoma0Q2dwRgrKV9yl48GJKw+++Gto48ud/rGcfYkm/0v0YX6uX7z6nDKlJd/avZV1lpGe4RpBtobMnd0/DW061PGelbLiC9As1hawqQvpsox6NdsrpyI2g/RrlWBMLcJ7vQ2OOH7suEt9OkTBbkPzyJi/GkkiPO2Vmxn1a/qY34Q9RvnEiB6pBmk+4zoIdLaRr254hScd3QO2FNJNY58tiknjydyz4kfudz8Q9hLEZ8oSjn6P05ZrMKPqxZEjvFNHUlczWG/h8cA/Nm4gLno4jTSCWlzhgref9mAPY9pr0Ye8Atr6nWtmuAOaTyKO1LeDTL9JTVnhgl/GefUOYHyVuLduPW080/3ZVElh+xwbEx/D3lZ9GDN/5q8wLVZg8hzYewGYp1cpYbMdvUIf5XagDAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAD2TXUiTYRTH30m5i6LSOUEcubZyhsRi1sQMPGcVDVsjMagQaXNT2qgEF7ag1nZjWaYJwSyVtvUx0UYEFkUf7CKziJQozMJM7CJjbKPNZa5irZ3n9b368X/+53+ej/Ouc9bfCggntRwXTKlEfgGX/ioLPfDubUPWf+akKnxgYexZiTeP83oBXosbl/jjedJ/zC1CqJB54D5UuxlzSbhYztdexXIH4+AAtv5mOSDBISPpGq0U7ceIJXXZmrsqYnC9wpCV+JG4B8OdLMdQpFlVQfxEx2m+DBCLo2dw30/K3+6No3uU97dhr5g4K7Yc5Vp+P3Ho5jOlThS85HkPVndQjntEjDtaTBlu/LoX2xvMGT5tSUGJ7XCGo4NKTDjII9+V3n9pU4YjB2ZxqJlyihdyNRNeqn1+dgp1nw0Ztpb1Y1UP9XWkLPhhkr+fMTCvIX/2Wh9+X21cepd59i4RdTuED5E+7T6B3jrSFRMm3NhFtcVqH4zVUy9fXhWOGEi3y0bBkiRduuUGXAhQzp+HSei9Qjl5z7zgYvPwwhmDbW3EzepW9IfIv3M3h+MS0q1mD9prKH/ZuTB8ChvYPGhBP0z3E3l6BLd2kx651IGSJnbnThnmK4h1w9dRlEP+vl+1WLbAzh4swfEp8gxWyPDg9AqFgBZStg39GfzmSkCujTyb77ixs4jYew9RzhFfbpkH90nK1x9dBOUsPw9dsGmO9ZopxZiEPIlGP0b/kn5qfw0GCpi/UoWx1/z898HtN6zW+R5EM8RmfxxyhOQxp88oNPL/iBL1Ed7/GNbnm/jZxn9jUODbqAMAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAEWTb0hTURjG7yxYUUzXSIomSVpTIrXFMiPsfc1gjBgFEZVJm95WRha50OkHWyaaNibTcJYsWqnVbCxkBRGUQerA3BKhVhS5PoRrbZH2P2LJfc/a+fTj4TnPee85z73dVd7vFgfVHDccd8UHRNz8mhkpgKnJihROWN1wv4qYv9wGfSeJtXea4MqcXmBX7AO8ukC6T6mHyKoka+zJnIuFjDPNWNhI3Jl9DGv/6JnO4aCeecAPpuoEH0WPknFaH0aOMy6wYtTKePgJSIqIh6ZK8d0tYlPZddz9nfJ9Ej/YxxKZC7B3eXK2LDXxz4ERtLFMyzquRORjnulO1Fgo57nDiDtqKgUObFRhWwUv8Iq7eZhjPCyw+kwGfmskj/tsMXrWGwT2bm7FwVOU86h/C75w0t68UhvueqsTeN+cFrf3JGbzwMsg+buP5AOfRv5Dza0YTiV9vOYefGXvEnvqhegB0huKt6GzjPRgOAVzO2jv1UWP0V/OzgqEcURHek/bDaz6TfpCi6yk3U052tMu7L1EOTu9S0vOsT5UTz7ArS1szmvFeDNC/omWEATkpDv2n0DTHp59SwO8jupYN/JB66X7GXqWgyob6e0Zi1FuYJnmh5CuSPAalEkr2dudh00/WGfMeyHwhnWyvgM+flmiEFEh4iGpQ8DRDAssM5Int/YgWlcT949qMItj3Z7vnr2OzSPjMP994v5DsGGG3bMyHWflbIZMHj//JT3SPAbuleRXfPoFs+PEOkk9DEyQx1DEoWyamFf4QSpO9FCFYtb5Luda1Mb0//+d7HQ6q64pFf8BZMfOk6gDAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAD2TXUiTYRTHXxOUvrS5HEizZDNXRGxNQqqLnVMEQ2KoV4nMtjlWVrNoUEtM8oNIGzOxUpozXTUHYwpRu4gudpE4EDf6IKdpuQhmW9NappBE2c7z9l79+PM///Oc5zmvYlj72JcdUXNc4I/0qzuDW//MR3vgzSvDhn/cXxoFfz0xN7gFHzUwhn64/0NPPOmC6ZtMv26GxA5iZygJ5b3ExtMdcKuMeFO8FcuaiT+flOPlNcoxaEPg1fN+F1jNLJOTw6iS51FInGVcxGHSzvyyZ5BziD9bJn70ED85n4UVK5Qf5KLQO0668vludOQTK5qyUKpmtRXd2G3ne0UxI8jPbsNyG+W8eO+BY5fq0mw9HoIOgzHNFy13YY/lFM1uEuDPZvK8Dufi6D5TmqvCq+C9QDnFsQC8G6LanW3TcGJOl+baSAxUffwsbTAVIf+CpwuM28j/0NSCX3JJNxbcg2X2Lp2FEkhWk67RFeFQDel5hYuwt4tqt9ccwJCWen2QOHBMR7pwrQfrf5HeVF2JnT72vgo7Ou5QToMcsYXtg8vbjodvEF8ziXE4Qf6a5RkIi0k3xK6itZLyww9GYCZJ+ca+RtA8pfspyWyEg92kr1jGQWyi2tisH0Qy4rEcMQoFdWzHOqB0lXpV1XogPEse0cBbiH/fLEsv8fo+RwXONAaW4qo8C9sH20a07yKeOvcNpBzxbee8qvcK5fvPqEH+ifSgUg37F6jX4NZ2SInJ0+nMx6XfbK9COvAVkN/dMAKpCf5fkIB7kjwvB0QgnGf3yQVBkE2eiVQXZOt5/xHQLP73qIpFrNdcK/wFSjZvVKgDAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAEWSa0iTURjH39mHIUG2LCW3mExhRYWgmOmC93/oi4gNoxLEXJuXgaEGSm3rw/AC0VZ4oXCZGhje8JKkU6SChCiFkRJCzcuo2Rd1LWlmoREW73PeOp9+/Pk//+ec5zyTz4p6hpX+bEGY2m339yqEv6fAtID5d8VRgnRaMVFOXKpvQHcV19GAh5sWiWdGdVi4TbpSq0NITZx15AxyPMTuJ/W4k8FrExnLcBJb23Tsxi8L72XBoEXumw17JXFz57Q4ksq5LCiGrhb/6xtu/K/vy+S1tQZ87JdzUpD3g98zNQ6eaf6WtsdoP0S87KpAUjb3T22ihWeuaG1MMSPnWFjOXcp5oR7B2eoSiaMExlzFpRJfv+DC0ZorEp/+PI4tJ3ns82aMHLdKPJC4gMFrlFPodeF9F9VuTNQhN2CWOGFrEeID6jtX6cAHvzyfoFi6n/yOyXy2FsPvk3sJ36vkWW2L4QLSH43pWVch6au2ARxroto33fOYLaJer/Kc7LWZ9Kf31Kx8x8zn8xzuYcpp7tCx9vuUc1OvZnV8H5bO7WFZt4idqzGsL0T+gwYH5jSkjw5dZvbzlG/yRmMxTPmJBodo9NJ8fJEmpLeQntk3Do2VantMFYjTy//Sj1gV+dezAkj7KffaFueWyZMXaML6t716BRXsBlWdEvoSNDhQQx5faisatcSnloaQJMi7ZIDHRvnuQD1SVkhfi8/HyVXq1ZHWioiGPC+/JLON36QbT/Rj+LC8excR8RFXz6ag9y15BtPjEfuJ2NTbAZWSPGX6Cijlna+NhvGr/Nc7YnJcCd/tGfEPgFsNG6gDAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAEWTfUhTURjG74KYI7KWOrIGikYaVsYiTAed55bUEBka/SPh3KYpyyxw4EcfojKkWflBpqKuMEoNWVZYUglFtLaMJhKUWdIU7GttkVmNRMrue6r714+H5zzn5bzPZd7cy075uE4Q7v+KdPXIhMUvtFQmPhszL/nDHo0Ktyyc9XG4dJhYfmEzOr6aJG6aicPLk9zjNcK/lnjjmlZktBFnfjqEUynEiesbxZQqYsGXJJbNU05xqBb9JtILii6iooQ4UutjAxrix1ummf8gPyvoEGgg3pu1D+GpxOrjIfamj7h1RoGs75QvVGvR5iZ9dKwSnVHEHZphxOuIbY0TaG74O1u6KPNwjj0hZpymnNvuK9hVmi+xMnsWdnOBxNrySiRa8yTWsaP4VkWeHIcdA0mFEptW56H/COVcK+vC8246e2zIjsxJo8T1DiNYO7+3ugQvxvn8QjIKVpJ/p7VO/LCCdEN7Mub4XsJ3nGOBHNLTEmLE7v2kh3WpxA2NdPb62WJ4c+ku78hy0WUkPWhzw/KTz4BXqHdSjiv8HTpbKEdWegc1vA8urxtpdcQLVR70+slfH+zGqJr0SdsZsSKb8m1aOyYClD+iCjH9IL3PAzaHbc1Gvnc71IW8A9EDUCXwPR6YQoSS/OYihbj1B9316F4XRl+TZ7e7Fh+/LEuQSrzY5ymlQ8LthjBxlZU8/oe1aIghHjpfg3iBuMnhY23l+bxj8yx5+n//N7038Rl0mFWTp6LlLT4vkD5sscMZzf03FJh9Qhyr3cN6nvJ/xHGVRfiIU3tvQiknjz49CnLeecOgAvqgiefcxTpV/r/M39G2uJCoAwAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEWSWyjDcRTHN9HKdTeby6JsmrsiLU/q60WSeJRk/5+lKNQUXvDsEik18URupeVFnvcwUUJSLBF5Io1yLRJlO+f8nz59O//v+f7OOYVWtRY0RBp0utBvxfiKXvf/2XF2qhJiXIDdHmI7VvuJTVh81eKcivBqOJG4MUA1yZjyEJfBM0bswNC3xj5bGulmjPQRZ2K7Svo+9hJbEJ0htiG9VmpuNonz0PKhsR7Yl8xLmVLvbCDOwRx7lkB/QFyJxmnycaLe38XZJpQvzlkoGuxkfh/r4jdul3bH2Y2tAfIpxPky/ZuLpmtvnLNRt0B9rbiIUH06fEYf53nIkLm98S5SEW3T+C3L7TKH4ln6Nx/HHV7mPS/pHvR8kV6AySD5lGNpXnG2pFHF+q5fsc/Go+Q5ccheRlp9nP8ySv4paN6h+VhQM0e6HY5uxTO0ueVOLCapr/7UWD+5kp0Wu4zu2OGGflduFvSUzTyoeP4z+cQuOHWKswWGyd+IyjvS01B+T73MeHHI3p9/5B6C2XK3L4eyi/UjqsmA5Vb2aDLIPA2a3GHzk9S7bNTLij8OHMVNnAMAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAFulnrR0LfsNDwaGA/9XZi9iZAADWSdelnQmCNvQqcY8DspWdPJqSoKypZ34PiVC2RJO+8tg4iJOr6VhbFEnr+kI8W5zGFvLybwOxlZzKvsNM0fBaXUiTNzSqSIXxo5wCnCDsTWdvMJhbAunt31JcLfxWcLYZk73V8DYGk4B32DmWzlNP45w/2zRJLi9yh4Icyb2IdzJeALGtnby6oGZo+PkXJQMZcs7dSalwMNKozgeylZ3+loHU2PjtF47DcoOdVqdDzMnxOnaQpheeyefuwlQtraT/QyEG67fQIRzigBMvanTS36YuKTTlzxEmL+NhInrOqnlJ8HNXFKdAg/Dc7EJcDVHE2Di+k6ZvxLgfuxamwgP59lTEGHFWouIi21FMLaS0/LXMPVyTudlEOIVgSlwd956CzNfxMlvSzI8rEwnJsDDQSYtCR62i6yS4P5t/5sEV2/8PRHOPn8HoV5TRUAdkogP/F90fwYjzF6hYkSa6ZNPgvtdmQERbtPLYe5RcdJ/BBMXd9J9AbNLyumTTDJcr58Awl4/dhjb2OnTaUSaX3YWoVf4QSLcTEG4eiMn9kREuvV7h4hrFTGYXTJOAHl/2LKoAwAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEWSXyidcRzGD7XOheIcx6HZsXBw6MTKBfMn9KwtnZXIxXbhz/v+vMkuNkVMyS5Gq1GaUke5WE6bP53kRi7cELFJm9wgN5arSaQzXLih5n2+v/fq07en5/d9nvdbXKG+zzsPah2O1dus15E4x//Pi5LNjvh7DqCxp8nmFIQ+Kps9SIyZNvuw0st5Ek4faQ6FyQkYKSUH8e4LORPVJ/RJQ9TkPBV9b8m5qH9BrkboFTkDZ6PkMiSWkStxNEtOR/219g//UJJl0kt+CH8tuQZj4lmCuJ/klzj+Sp8iRFvaxP+zsmzOQ353q83ZuPpAzTMsBNttLka00xTem7Kkh90LQ/ZZHlLS7f4B9W5YLuoLcZKkcz0dpN6FueecB5DXqYS/9Vuyz+9mQzJuGJyX480N51UYntc+k+O6nwcD2nOpS/+vmVO9z45P99/XYMluh2eGcN0i+8nF+rYheUeDSnwi5fpOdtxt0s/lFd96jM0tarwoyHEF7o949TZyNCH3PP1JSa6bBHI2/A4l3Ybfa/8nx5wno/CvKRljPr3zoZ+afKz9MyVvbFvf//Qvzj3w/NE+bic1BXCaus+6c2pSkJPKtzJwB2T9TUioAwAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANvhl7R0LfsNDwaGA/9nuyxiZAADASezYxlMELaCU3BpDJQt4uTVlARlCznxfUqEsrmc9pfBxLmdXkvD2DxOXtNhbE6nbvMkuJl5E2BsCacTf2DmCDgp+cHEBZ0qchFqAtxgbCUnr/AkuHve9sHYZk58ljC2pNP9FUh6v8HMV3OafhzhhtmiMLaGk7IHjK3sNBHJTMYTMLaj06P5MHNUnJwLk+Hh8NE/Be42jeJ4KFvK6WsdTI2M03rtNChb12l1PswcI6firSlwtsndBChb3mlXSxLcnOs3YOp5nVIEYOr1nF7yw8T5nSyaEeG/0hUmruOklp8Ed8OSaphedadzsTC7tJ2OJsDEVZ0yf8HEjZ261iYiwmoKIjxZa2FsV6dtRYi4WP46ER4m52UQ4VkRmAJ3/623MPN5nPy2JMP9ePh0AtwNXPZJcH+pqcPYck7nBWHqRZ2+fE2Es4+dRKQZTRUBdUgiPvB/2ucZjDBzNsHdKe/0ixvGFndSZoCxuZymlyfD3an/CBGeui9gdvE5fZJBxPstZYTbDn2GqTF0+nQaYeays4i4E36AMEeQHRFu7ImINOn3DqFeRQxml6wTABQvB3GoAwAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEALNPSlq6lv2GBwPDgf8rXBYxMoCBqNOiTRlMELaU09P2GChbzGlHfhKUze/E9ykRzt5fBhPncXotDWPzOXlNR4h3myfBzcmbkAQ3/8QfmDnCTkp+SXB2RS5CfYAbjC3u5BUOY6s6ve2DsSWc+CwRau6vQKgJ+AYzX9Rp+nGE+bNFk+Diyh4wtpzTRLiZyk6MJ2BsY6dH82HmqDk5FybDzfnonwJlyzhpFMdD2dJOX+tgagyc1munwc1cnZ8IV1+8NQVur8ndBLhfdrUg/HX9RiI8PFMEYOo1nV7yw8QFnCyaYeq5nFa6wsSNnNTg8SXttKQaplfBKagQZpeKk6MvTFzbKfMXTFzJqWttIlzN7ClJcDWstYiw3VaECEP9/4hwdueEiUs6VQSmwN2Zzojwy8EFiDA8fBpmr7oTlz1Mr6CTmnoSPKzOCybDzf/yFWaOuNOxkzA1Ik6aKgLqkER84P+0zzMYYeZsgrtT1ukXNyLtKTPA2LxOot0I92w8lwR3s+4LRDr/JANTI+Z0SxmR3g59hqkRcvp0GhEXy84i4kj4QSI8bAXZEfHLnogIqxuMCHtnMSH8CwANBYzgqAMAAA==" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEALNPSlq6lv2GBwPDgf8rXBYxMoCBmpPxsQwmCFvCKaQkBsoWc+JrToKy+Z2mfUqEsgWcHibBxHmdXkvD2EJOXtMR4t3mMLam08KlMLac09TnMHNEnJT8YOKCThW5SXA3BLgh2NezkuDuSaiGsWWc+CxhbEmn+ysQ7IBviXC904/DxEWdbDQQ7CZThHsm9sHYGk6MJ2BsO6dH82HmKDk5FyYzwcLqo38K3HyN4ng4+2sdTI2s03rtNChby2l1PswcRafirTC95k4mdxPgbt7VArNX3On6DUQ4pwjA1Ks7ZSglwsN5ZwEinFe6IsxXy0eEz5JqmF55p6BCmF32To6+MHEjp8xfCXB/da1NhIfJ7CkIc1hrYWxVp21FiHjR/w9TL+zkzpkE9ztTagrc/Xffwszndzq4ABY+Yk6HTyfAzeeyT4Kb8/4ajK3gxJaEiKMvXxPh6o+dRKQ3TRUBdUgiPvB/2ucZjDDzN8HdKe/0ixvGlnZSZoCx+ZxEu5Ph9m48h0jnui8Q4fxJBqZGxEngKYyt4tRjlAD3y6fTCDOXnUWk7TmfEeHT8RmRJtkTEe65wYjwu7JYMlwNAPbdwjioAwAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAE2SW0hTcRzHt0GJPsjAvG5lzXnBu7NSzBh9I2bQNonQF6Gds020lzkvT1FE9RAuFsKSoHtkGCHhQ0I9KYHkJUEfciQiCGEPhjgvDxFMaOf7O56nD1++v+/vcv6zA+rIWFq8xWCYTB6ve2M0/P/KUT/dZUpxDa71d2hchMx7qsYWDCcUje14PkA9G6NWcj4WxZ+FSAP5HF6PkMvweIM5J2HzUG/CvzvkNsw7yF4s3yADP6O6J1ZMbsXaKPk8WveZ3wLbit53/Bi5FnfP6JlDkumE8Ru5A+svmePAxbBf4wpsewOyV1nfdcnfu01PEB8rOmXODyHmtKPvU0DyT6/65OZf7rNvOZbjitwzYKa/AV026gX43EN/Lt5fUmSXkhD1ary9yVoXrobZ6wouuKlfRvdf6h4MjinCT2PMcePILf3OE736PWuS9J+AK516JUzBgMy/+of5OZh6xftU4eucT2bLcLL2FLZ+qLLvUZVcit09RfKnZ1Tpu9RoLk094snki+0n2nu2w+ijpxmPClXpG93Ub5sd4Tx2jC/Qk4eq3/RYkLD65b+Yf5HP4qHDJ3Mm5lTZ8d13vfbZjiK1Dw5xmkJ/I+JGvW9RDvOLcQDbQCicqAMAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAAvoTFq6lv2GBwPDgf+9WYsZGYCg9ORxp4M3MphA7DMnjjtFlcaA2WeB7IyWJDD7FJD99mMiXDwkASJ+Hsj2lE5CiF84wgJjr9iO0Dv9aiJc/SlfhHqXpiS4vcnyCHHbOIR4V3EnJ4wtcRGh5oksQk2vKYJd1YdQw3QCIa5fnQhnf5iaDGafA7IV5qXA1VcJxsPV/NXTZoexTbcg1HjdTYCrmVCKsIv3DiJ8toinwNWcE0aIM7ZD1J8Eshc6QcQvANmToxHmJFtrssPY53kS4e6sW4twvxJSuM3ZhtCb5YAQr/70hhvG7nuQAFcT4IBQv/5qEtz8hUkIvR5fEW6+cxIh7nyTTx2caIDpJz5wFph5Fyj+LB6i5jSQrfIyEe5HM2aI+Akgu7D4vxyMDQAov+sLiAIAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEALs5J2npWvYbHgwMB/4vd1nEyAAEcanhrhrHMphA7OpT7a7BFTFgtmJxq6tQfRKYvYGp3fX650QwW/BLhCtrIURcjN3PNUwBwl7UHOUqPAnCzp2o4fpdA8JmOZfnGrYUwq5JCXc1fgExx21Sh6u3H0R8AVBvZwOEzRPV6brPCMJ2AarxjEWIF81BsFepItTMWgE1H+j+tO+JcDXVJyDii4Hm56hB2JuAfploCmG/smpzbQs7ygJjP5gP0SsP9Pva0mQwezNQfZN3Clx9SHE8mF0L9MutOogaXqBdL3XS4GGYmZcIZ1dsTYHbW3k3Ae7m0BaEewxuQ9QnuF5xWceHUH9BKBFu77k6iPp5QL8scIOI1wLNN8iHiL8EqplajXBneGEC3Jz17hA/gtjl6xLh6pdORoQDey2EXQU0k6sYwra2dHO99S8R7uaVnIh4fJcKsWvGYQXX9jcJ8DQQuAQSJgLAdGJzIgEeDt32SfD0s/E6Ir4YUiFsBWCYf/6YCA/bNacR8Sv9h18dnFiB6faYzkwwUwNozuoEhJuluSHs51dCXX2ZIGxjtUDX+x0Q9zgAzUk6BxFXDVZyPfwaYtf6zDrXaTIQNT2Pm12VH0HY64Fh1WcEcX8l0PxvUPfcE5FxnXsWopcL6IYF0HwxB+h3Qyi7AqheOBGi3hFo71XGJLgbCsQg5k8EhhsANihsvJADAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAIvfkLR0LfsNDwaGA//VIhcxMgDBm1PtrgdvZDCB2JuY2l3dK2LA7FdWba7GjUlgttOkDle9D4lg9qLmKFf/Eoi4KLufq4dcEly8aAaE/fzgA5dXShB2NdB8hmUQdk1KuKvLc4g5W4B2XfKFiPNGdbpaNUHYPED2eUMI2wVo7ztvhPiptQjx02oIdgrMfKBdRd8h5jsDxW9cgIgvBrqNQSEJ7sflJklwP84OO8oCYz9cANErX9zqOqskGczeDFTf6Z0CV385IR5uV8DEZLgbGHXT4P71zkuE25W5NQXOdribAFe/uwXihojVLa56ZyHqo1yvuNiLI9SfFk+E2ytXD1E/D+iX9W4Q8VqgXZb5EPH+x82urdUId64vTICb89EHIZ7xCyFevg5izkugeFQjInyi+yHsKqD5O4og7C2Zda4CDIhwy+ZAqLEIgZg//bCC69R/CfD00L8YEj4CXyJcf59IgIePoj1EryBQ/OY1RNzJpSXB3eP7CepHYJpJOolISzMP86uDEy4wDc9JnwlmagDNSU2AqNkIdP8FLgi7AqhX/j/EnDlA9wj0QNzjAAx/lvPQdAXUu/s2RI3jz3rXh9oQNeuB/r21BRKn64BmfoiPBbMrgW4IhKareyIyridPQvUCzZT5jGDXQdkVQPViiUlwtiJTEtwNquzJcPUAk/SDxpwDAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAHt5OGnpWvYbHgwMB/471y9iZAACZeZ21w03M5hA7E1M7a7pJTFgdv/jZtfg1iQwu/JUu6vvx0QwW/BLhOu/fIi4KLuf6yw1CHtRc5Tr6ykQdondWxdBRQi7Gqg3YimEXZMS7mr6AmLOa6s21y4/iDhvVKerUSOEzQNkXzGEsF0mdbi+8EawT61DqNmsghBfuwJqPtCumG+JcDWClyHiQkA375VNgvtxoQmE/QrohrlhR1lgbJmpEL3yxa2uZjXJYPZmoPr1/ilw9Yvj4+F2lU9Khrv/h04a3L+JeYlwu65sTYGzVe4mwNXEtEDcELG6xXXxRYh6rWAlVxVhhPpW8US4vSr1EPXzgOG82A0iXgs0JzIhCR5ftV0IdzoXJsDNsfJFiGf+QojXrYOY8xIoLt+ICJP52yDsKqD57D4I8fCPCPcIiCPCszEYYv6Mwwqukf8T4OnhyzRI+AgAw9/tKsLvcvZJ8LR0/xoi7ryTIOw+oF9efoX6EZhmSk5DxPmA6pXb+dXBCReYhg0XzwQzNYDiGfEQNRuB7rnEBWHPAbqhngXCVgGGLWM7xD0OwDSz8RxEPNL1iovnDYhdPV7Vrvb6EDU9QDeYBqaD2euAZv48HAPPC7ZnIHrvici4hp+F6HUEmqkKTdtcwPTw5x+EXQFUfwgaRyC2KlMS3A3xv5LgegFFjGzHnAMAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEACu8nrR0LfsNDwaGA/99ly9iZACCN6faXU9ez2ACsTcxtbsGlcaA2cekm13jW5PAbKdJHa6f3ieC2YJfIlwvJkDERdn9XFW0IOxFzVGuIosh7BK7ty635SHsaqD5/ksh7JqUcNd3zyHmvLZqcz3rBxHnjep0tWuEsHmA7DSoXhegvUlxCPFTaxHil9QQ7M7lUPOBdjl9S4SrV70IEV8MdNtzqJkgP+aaQNivgG5YFXaUBcZe3wrRK1/c6hrUnQxmbwaq/+SfAle/Oj4eblfVpGS4+/dop8H9e7QgEW6X+ZYUOHvq3QS4mtwWiBsiVre4PjoDUa8VrOQ6TRyhfrZwItyP1s0Q9U8OJrhud4OI1wLNWRoNEecDxotMP8Kd/kUJcHN2uEH8CGJvXwfR+xKo5kUDIkxWbIOwq4BmvvZGhE/Zh0Q4e4k4Qk1YIMQuDaCb2xgT4Wng5SxImAgA3bPwIsK/IvZJ8PTz8hoivpTTkuDpzfNTIlx92ElE/Bb78auDEysw3U64MxPM1ACa0xoPUbMR6H55HgibCyh+5g/EnDlA9zT0QdzzDOh+xfMQNVMOK7g2H4eo+bWr0nWWPURNz+NmV4PAdDB7HdDM04cheWEDkN18BqL3noiM62dofM0Cml/yAsLmAqaBNf8g7Aqg+4USk+Ds64wQtgPQLzt+QNiOQDYAk8T98pADAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAEWTXUhTcRjG1zojpqDURZY0togwusgEK0iUtT0Xo7MmDSXoYywdK4qiDyzvnHgTFGYfVAbVEEZSbatzdj62Vp0oYbtyUQNJg4gCg1UgCI3CVXvf0bn68fD8n/fj/z/+hhOx+IoZj8lkVHbYx5eZ/n3uJDpKR81VnnsCc/9B5gSOl/uqbOSTCMwdJv2ihJ4l5tkEgs1TQo2vvSX9cTSJoeb+KkcOSZg6Q3okLKG4hzIjLgmtw8SmTgnDDtZlCZsC//X5ODNkPNzILMjITBLr2b/9gM+elbEwQjx/UsEXG3FhQMbQdmKHRcL9FHFwVMIgs9OnonCO+sz5FfhvU/+5bgV1d0O0h4kUhKVAlW+FFOyMkCd6WYW1K0z5D1S8OEU5UUVFa4rOBn8p2P0hSP0XFLj6uJ9FFT0/2G/TcKmJ/es1tLeQ7tirof4O+aMHVMxYSB88omPzDdLHQs/wKk9nfzY+x2Qj1Ro7lsV5H/dfl0ZnmXTjnY6FccoxFnXcvM53/VuHxU5zGcszsLwnjyecwUQD7yqehk3gPX9/ipe9nL86A5eZM6d1uEcox/lGx7Z61os6tqzlWrM6skVmexrTA5wf07HyE8/u01DKs75Pw6p7TS30cI3K/m9XqujcIMLKbzJS8iLxlWvZRPRWmN0i1iV4rg4R5c9ct03E1SR7/CLau9izS8SjNa+FGm/9yP7TXsQy7G/zIue5YK3xaO1/qXTjD+gkbW9sAwAA" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAKv/l7R0LfsNDwaGA//jvi5iZACCN6faXQ/eyGACsTcxtbtGlcaA2f2Pm10zWpLAbKdJHa5vPyaC2YJfIlxDEiDiCRGerp7SEPai5ijXqg0Q9qbzeq635JPgZq7YDmHXpIS7Tr8KMee1VZvrKV+IOG9Up6tLE4TNA2QnQ/W6AO21jUOwX62FsJ2B7MNqCPHpyxF2uX1PhItLXISICwHd/EQWoabXFMJ+BXRDTdhRFhhbvxqitwoYJh+mJoPZm4HqFealwNVXCcaD2RGrW1x7JiXD7bqqkwY3f05+IpxtugWitxpoptfdBLj4hFKIG/4GN7ny3oGon3FYwXWLOET9iyuhrueEIeI1QL2M7RD1wUbxrgudIOJKxa2uk6MR4XDhJMKdW80Qdq11h/gRxK5bC9H7EqhGqQkRJnO2JcH9nuWQBPdj6J9EeHoQl0CoEQyB2KURrOT6hgmi5h3QzULtkDARAIZ534MEuN8DoGaCxNdfTYL7a2ESIt49vibC1d85mQRnO9/kUwcnVmC6jQ+cBWZqAM15Fo9wj8pLiN4KYBozY06Ch+HpVRD3VIDiFJoe+Nn9XLcdgYbh20JXIRuIGkdgGP4LSQezHYDsv4cheaESqNfmTBLc/DfnIXq5gG4OfAVhbwCl89eJcLtC85Pg7KuMSXAzV/xMgtsFADTyL9OQAwAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAC3TaUhUURQHcH2BZuTgAs6YS5qVFIoKOYmM1TllmCAVKcQUjTpaZtBEZMgUfpBADJMWzQoVtKzBJfvg0oKQTIlrVjo0ig7mlrPBWFZGmdn7v/fpx59zzr3v3fu8/LQNLZ7mFDe316ujn+vd3daeR09fUrc5T/jvWG8rqQtOiq69N0R517JF12hGybmYJVqmyaT0TOTRuc10KAjeE9tE+mfwc30bjW+Gz6UGsaETjir24CoT5vTEzVF/GnKVcoYOFMMprzaxVupNGwvgpFPwpeP+bGuB6+1yNm6Hm7sUXPUENn7x4YM/MV9dI2PFB+T5y300GwK3WhboRjxc5hPB+nJYsWEvC73wiDqCY65gjvDQTK5KreiZFz0UVpsj2uuri/S+GtEFlQKX3UbNTl0wm6JOix6aD+FqHeYkxIVyfBt67zYFcupkpuiQaIFvFkjrmsfJe0Jat7CG2uRS/ZCC3/kjXzprJfcS1F+e7qY6Rl5eZKM7J5ALu/vpfR96e2Ps1K7EWgvXI9mSiDxXK+Phjej9FB7IRS3wY5MHb5HOYl7tydUd8I6cUM7fB4d/nKOMP6iPTVwhuQL54dLf5JuO+YWWdnIIqPnR2El+Jfg+qxVLVD6F/SR0ePERaeau4ElqNcE5t2Rclw1XRw9SynfMOT+2QBN9yA1xTup1yCLFS7x2n8eTHoi8UDpL8xrUNBYt0lYrelVZNlKuQ74/2UQDjdjPRd0UuaR7ol0/Qh1vpPfSO8lPhZq3zb78N/0MzjTARStG/CPDx5ykGkTv1NX75BhGb0X8BB21wdu+TZPBDmsalilDh/rkLiuZ3OGw0Eky/IJLpgfoH4gSrHSoAwAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAC2Tb0hTYRjF5yzrg0azP2plf9TSD4GFaCRqnlVqhlGkGFlpWjZE0BrL0AgUSw1dMRNzTG2ibgaWia0gAnUV04mmsBpzmlZEqYMlSBlZ2T33fvpxOOe8D+/7XM3OnLbOVfYkiaT379HhFg/J8rd+sQp9doX0P0vcDTitOiPwh6UrUJRnC3w2RQnX9/MCx98LRGoW9cEDcTiymbxn9Q4Ud5FDeyLg2EYOM7lhfEZONI2h3sYeVfptDKZQT0ivxKEy8lS+Azli1toxhthzZK3FiplOckyYDeZd5K3336HeIM4w/gYJP9hvzuuH/yj1JwmN+BwoekLUqIkkey7MoFhN1iXK5FIL+ZqXlzy8hD2TGV1w1+Vwzk0t2N50QeD2R80olmUKvMXVgWoNPX3WCdh25wosM09BV8Ae+clpRPYwK621I3kiS+CRDd24q+K5+1r18HGK8+fno8ePfmfAOIbXUddq1fCooF/RdAx6OfXCxJeozaBetNKAtwPMNvtY8DSKZ+UOr5BPRoudzlmMeDOb5pjHjU7yxVOfECS+xdf9H6EzkUdeTyMvnmxy9SLtN/1KZTv8/KkPdbyHLJX9DzYqMScVOyOi4VvB+xkdaoB6ivOUlD7HcbFz/mAZHtvIi0H90GeT987qkLTAnuoADZwD1AsUGljm1oQKS7y8z45YrYAGvyp8yaTnelE3Qr4x64rUI8qT+q9gFawPOc/anptwi3vS9qIQplfiPRs18I2h52qcBX9SLwncGl+HJTP/EfstDWKGmC2vCsLcCLOG5lKcmCFfDq+EcZbcq29EWgH9P73vwOZBDi4qg3GRnHy4Bv8ASkjAvqgDAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAJukmrx0LfsNDwaGA/+9zy1iZIAC7nLfLhj7xBs+dYjEgf+3bGfB1Wzcr6oGYwMArGpFKEgAAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAC2TbUhTYRzFpwZ+8A0Nc1hWTjEQKcQXKiZHrMSKWJFSaDRTUasPQuCXBWIaWWBihhgioZJpgdkH3zM33/Ju2qbZ9KZuyDRJU1tBaC9qds+9n34czjnPn+f5X+WxzIZmdzFJoTBsD3XXuyh2PmFfP/rEXNf/vBUtIDX/isTlMQbk3s2Q2Ct8AKvfr0msKepGcjr1Xv8enN5LNj3qhe41eS74LaYPkIsLNtDUQT6qWkKVlT2jXywwnaPe0G7BySJy7m8RmXJW1TmFuKtyv+cHLDeTr7cZMBBGbul6j6pG8p2oj0hcZ7/7sxEox6m/chvCQhB5u7YPD2PI6rUF6MrkGQIV8a4CuadxV/yR2+wpSbTDWZkpcVGlDQefZkns4bRB56vlzFufUVpBzxPdLKwR2RLfjJhBTR57OmdmENPKbGStCWds6RIHLo+jPJ/nhlw0wmuW/oS5XrQG0O9IXYV5N/UTYe/gUkK/259O1CVQjwyawOM06ob7nzBmZNZdHEVbLM/yvjQP+3HqFVF2WDyZ9VeLKGgmB+vnoZLfQjtvRk07OfLBJG7EkxvX7Ej5S/8tzRgClNSnfX7AN5n9zlODWHGlx+dbB/xKeD9v9g+jbI7zbORM4rzcuVkooMVKtrSIqMsglwZbkPSTPZMjAmaN1DXmYQgr3oekJd7Z5+m4agkdWX1Y1NLT5rGO0CVms6NNiHWjHvpcj5GXnOes0A+nvCfFhXq0D9L/4p4Jfmp6qo12bCXn8P5tZmwO8B/ZkzYE9Siz9ejAioXZicVuXFgmh2uG0fSVHDIuIiWP/stTelhdZD7cg6Zf5AqVA/8A+PCYMKgDAAA=" />
    <add key="/lpc/nct6797d/voltage/0/values" value="H4sIAAAAAAAEAEWSW0iTcRjGtQytYazCaqngbKwGUdQ0KspnyczCQshOiNgOVmg1zbSLzGMHzU1nm6mbm4xSK9AhRYGEsJvQKGrogqKo9MIgKbooTxG1vke+77v6fT+e9394/68sUtfTH/12f0RE4G/1TN6iiPD39IANFYUmgde/d0EbZRZ4MmhC5Wr6+apGlC0mV6Ic/Rnk71eq0XyfnDxQiqJe8kfVDTSmkh+PtEEzbBS4w+LA1Dj9hq0NOJ5D/vmnFZM+8uaHXmTuIveUeDE1xto7GW1YU0Mf0+fB3iyy45sHL4Lk81868ctBrinyIG2h9qv6Fvbk0rtdLiiU5O7w+uVnpFr5CHl6owf+XtaGDtUhoDwlsPVcPUZ/nBR44nIrotOlvQZymInf4oVnVlqn21cg8PNLXbg4bxD4w1wX4vTMJOZeQ4WV7Ftnh+ws+6/Js6NqLb1W68RhFf0jrx3KFfTphutoesVzKgcciD5NH+evR2wD87rULuiimEkIny15zij2cGmx1M8HKeS+BDdK9WbxLtPLmTfJO2C2MDOc1Y5COTklfLb+eOZ3f7LDAnq91YZ2FdmfWYsSjVmsnY2lf5bUgtAb8ufsJsweMYp+ZxL9vidOKBf6sy3GBvWgSbzvhcGD6sj/P+F59hzlPAdnnHht4F7b890IBowL81yH7Cypz4k6ctqydkzITOJ8ul6yVhHVhneDfK+hMicUm6SMaoyZJceacWKUfsfNWrSGpLdouSv17d6QUVxz1W/mx8PzI79NX7zyKvJlBeLd/wFjPeYPqAMAAA==" />
    <add key="/lpc/nct6797d/voltage/1/values" value="H4sIAAAAAAAEANsj7LB0LfsNDwaGA//PPYlhYgACVbZGe53et54wtqhLElhcqLnBvro7Ca7GW3+2NYxduNNHjRHEAZozJxRhzvmEZLjeCwcS4eL+3ghzZB0g7NlHGuwfcSPEZ55Jhovf3JkAZ0vqINSoXEaYH3EJIT7lSiJc/YTFCHt37TjCAmMLTEWoieNOgasBAANxQ2MUAQAA" />
    <add key="/lpc/nct6797d/voltage/2/values" value="H4sIAAAAAAAEANsj7LB0LfsNDwaGA//PPYlhYgACO65wB/Ye3y4Y+/cZHzVGEAeoRsgJocbhkZoajA0Ac3x6bEgAAAA=" />
    <add key="/lpc/nct6797d/voltage/3/values" value="H4sIAAAAAAAEAFPRcFi6lv2GBwPDgf9pF2KYGIDgy98QB/Ye3y4Y+/cZHzVGEAeoRsgJocbhkZoajA0ALDz1BEgAAAA=" />
    <add key="/lpc/nct6797d/voltage/4/values" value="H4sIAAAAAAAEAFPRcFi6lv2GBwPDgf9pF2KYGIDAi6fJnr3HtwvG/n3GR40RxAGqEXJCqDmfkAxmHzzVaH/hQCJcfOGBREUYGwBScwg0YAAAAA==" />
    <add key="/lpc/nct6797d/voltage/5/values" value="H4sIAAAAAAAEAFPRcFi6lv2GBwPDgf9pF2KYGIBgb4mwHXuPbxeM/fuMjxojiANUI+SEUOPwSE0NxgYAHfXQW0gAAAA=" />
    <add key="/lpc/nct6797d/voltage/6/values" value="H4sIAAAAAAAEAFPRcFi6lv2GBwPDgf9pF2KYGIAgX2ixfXVmEpj97MIie2OWZDi7ViwJrqaEGcL+EbzYfq0rQv0Pv6MsMHaXKUS8aepie83jiQhzGoSFYeyvkxBm2l1GqDn9SI0dxhY4gTBn3bJEOPuAYircDZc+xMP1Zml+4IaxRV0gen8C1VR3I+zizk6Gs+skEO4vNkW4v/ccwi72NIR/eTsQeh1YEuHmK/1EuJ8zH6F+pQnCDUUuiPD8xpcIN+dM3REWGHutdDLc3jx7hNtOt72G+8tSAWG+YjdCjdpOBPv3GR81RhAHGL9CTjFw8fMJyXC9Fw4g3Oy89a8cjB3HnQJXAwCb6yEgKAIAAA==" />
    <add key="/lpc/nct6797d/voltage/7/values" value="H4sIAAAAAAAEAHti7bB0LfsNDwaGA/+X7YlhYgACO65wB/Ye3y4Y+/cZHzVGEAeoRsgJocbhkZoajA0AnD3EBkgAAAA=" />
    <add key="/lpc/nct6797d/voltage/8/values" value="" />
    <add key="/lpc/nct6797d/voltage/9/values" value="H4sIAAAAAAAEAHti7bB0LfsNDwaGA/+X7YlhYgACdcMOe/Ye3y4Y+/cZHzVGEAeoRsgJocbhkZoajA0Am03A7kgAAAA=" />
    <add key="/lpc/nct6797d/voltage/10/values" value="H4sIAAAAAAAEAHti7bB0LfsNDwaGA/+X7YlhYgCCOUcW2LvIbBSAsbtMk8Di69wX2mseTwSzVdkW2r9+mARXzxR/XRzGllRMgqtp1T/KAmOvW5YIVz+97C5cfZ0EQn2QSjJcTUF7kQmM/fuMjxojiAN0p5ATwp2Prh1ShrHjuFPg5gAAoIg3mdgAAAA=" />
    <add key="/lpc/nct6797d/voltage/11/values" value="H4sIAAAAAAAEADPyd1i6lv2GBwPDgf8RK2OYGIDAjivcXrtFnR3GLmFOAouXTY6wX+sKYXeIRdo3QdWA2JrHE8HiKQIR9q8fJsHNkW6wlIKxS9Mh4pIsYfYCJyDsL39D7F1l7aVg7DoJiDh7Y6h9kEoymM0GZCsKIsycYnKEBcbm7UiGq3dgSYSbeWWOGjuMXeQCUfOoKsT+Gx9CTXJeElw8UwDhHqntb7jh5lxNgrvhRwhEr057mL2lAkK9YjeELQX0l9pOhDt/n/FRYwRxgGEr5IQIW4dHamowNgCwxdWFgAEAAA==" />
    <add key="/lpc/nct6797d/voltage/12/values" value="H4sIAAAAAAAEADPyd1i6lv2GBwPDgf8RK2OYGICASbvdnr3HtwvGrn/go8YI4gDV9Okh1MyxKxOFsSMuJYHFK1+22U+5kghXs+PPa24YGwAVV9HNbAAAAA==" />
    <add key="/lpc/nct6797d/voltage/13/values" value="H4sIAAAAAAAEADPyd1i6lv2GBwPDgf8RK2OYGICgWkTPnr3HtwvGrn/go8YI4gDV9Okh1Dg8UlODsQHsqBo+SAAAAA==" />
    <add key="/lpc/nct6797d/voltage/14/values" value="H4sIAAAAAAAEADPyd1i6lv2GBwPDgf8RK2OYGIAgtv+QPXuPbxeMXf/AR40RxAGq6dNDqHF4pKYGYwMAD2uPdUgAAAA=" />
    <add key="/lpc/nct6797d/temperature/0/values" value="H4sIAAAAAAAEAEWST0iTYRzHlxsMG8Yk9w9b811TW7Zm2KIm6vxuMXXOQasMGbU1K1awwtKLJC+dRClElAg6DLSVh4nXHYLdCooc06COefDipUPFrIPFeL7v+54+74/P9/c8z+95hqYCrwv6rwMaTekg8DRRp6l9xzGduSXYjS5dWrAZT8yiLrfgsZZsReES2Ybnb5k14V5edeZ85Cjc71OCO7H3nXU7RuPMerGbY30EYT/rUextiawmDIvMegL9EfqD+FhmvQe/FsnX0Mus7EXPGP2zsElqdvIu/SCMH8ijWM9z3RMoSbcFO1H5cVNwO/Sg78NGnE4cr6rsH8dqblzUr+LRn6TgMZhCzHZgep7cCsN9MX/ZgRkr+3hw2cW6E1IjfSuefeY+u6G/Q/8MGmZ5j8MI6DiHIJz75BjqH9APYe0cOYyJELMD+H2E/gWks3T8yBi5h5MoNKeV2Wb71DfzwkW24KGbTheqDcyex/YXOi5Ur6jv5GILHQkS5/P/7G1F1T/8c7jtUO2ndKBtFu9Z7sBmMq30L5c4HydiEfXt2QPs78COQeWXn5g9hW9FcV+yD7bTdDxwbfEsx3C9wp5NWNpW11pYSSnzefMupWSP/mWfThiXU8p8bhjGlbv+BxUBBT+oAwAA" />
    <add key="/lpc/nct6797d/temperature/1/values" value="H4sIAAAAAAAEADvY6bB0LfsNDwaGA/9P5sUwMYCBjNO63KMsMHatWBJUXNqphBnGlnJa64pg962AshsknLKWwcQlnLpMYeKSTprHE+HmFwmXicLYdpeh4g0yTrZRSXA1kooIdmk6jC3nJHACZqac07plMDPlnQ4opsLV+P4VEYaxu8KT4ebXScD0yjoFqSTD2YqCCLummByB+523A6HXgSURbv6VOWrsMHaRSzLcPZG1h1lg7EwBhJvXSiPU5NkjxKerwNiyTgWayXA3/OBNgtt7RgvqHiDbUgGhXrEb4Wa1nQg21xcfNUYw+8B/ZmlEnMbbbxCAh60OwhyVy4hwiLiEMMfnoi8fjA0AxAWtlSgCAAA=" />
    <add key="/lpc/nct6797d/temperature/2/values" value="H4sIAAAAAAAEADvY6bB0LfsNDwaGA/9P5sUwMYCBgBN7j28XjM31xUeNEcw+8J9ZGqHG4ZGaGowNAC2KG2JIAAAA" />
    <add key="/lpc/nct6797d/temperature/3/values" value="H4sIAAAAAAAEADvY6bB0LfsNDwaGA/9P5sUwMYCBgyN7j28XjM31xUeNEcw+8J9ZGqHG4ZGaGowNALcm5FNIAAAA" />
    <add key="/lpc/nct6797d/temperature/4/values" value="H4sIAAAAAAAEAPOd67B0LfsNDwaGA/9to2OYGMAgwNFFZqMAjN1lmgQV93HUPJ4IZ79+mARXzxR/XRzGllREqC9NR6gROAFjuziuW5YIF59edheut04CoTdIJRmuRlEQYU7vOYQb2NMQ6nk7EOodWBBqlH4i7OLMR5iz0gSht8gFofdQryo7jL1WGibu4Zhnj9Dr/VpIGMbm+uKjxghmH/jPLI0Iw/MJyXDzLxxAuGHhgURFGBsAagRCaoABAAA=" />
    <add key="/lpc/nct6797d/temperature/5/values" value="H4sIAAAAAAAEAPOd67B0LfsNDwaGA/9to2OYGMCAx6k6MwnK5nQyZkmGsjmcPFevF4CxXz+EqeFyCg9Ogqt5tgDBdreCsbmdXl9OhJu/re9NBozN9cVHjRHMPvCfWRrhhi8CN8Vh7ClXEuHmTFicCHfb8r0IceHfSXC9AlMR4nHcKXA2AJoDfOzwAAAA" />
    <add key="/lpc/nct6797d/temperature/6/values" value="H4sIAAAAAAAEAPOd67B0LfsNDwaGA/9to2OYGMCgYT97j28XjM31xUeNEcw+8J9ZGqHG4ZGaGowNAPxmcSVIAAAA" />
    <add key="/lpc/nct6797d/fan/0/values" value="H4sIAAAAAAAEALuxwWHpWvYbHgwMB/5vco9hYoAC9h7fLhh7MruvGiOYdeB/FTtCjcMjNTUYGwDhopkzSAAAAA==" />
    <add key="/lpc/nct6797d/fan/1/values" value="H4sIAAAAAAAEAEXSXUhTYRwG8FXCKcxYRR8SgYshCLsqu0j6OIUPRd+kYUTZdFZzNc2TM1grjst11pmWzVkmUsPmsouJF90IGiOChKTGXLBAhLroxi4kSlYJRpznZbv68fD8z3vOf2/tW3koIWUPmUzJJVv5ueWm/z9vGDcb6w2/1rCjwGF4UMOtjcwPB9G6gl6tIAF68RnuD9NRDa44bXVD30mvC6LsXZ3h2Q7MfWE+fxo1VfT3q/gWpX9GcLCCVtswN83ZwTA2qcztPuw/Qh8P4H2K9nfjV5h+5cdeMTuuYc9Z5so9FFvoo73wXKYbbsA8KZ6pYiTOWfUOkpaLfI4L6fkLhp39kA6InXgwWsVOfwQDOeZZDbFog+HdCq7/sRvucGJDJTsLfiw+pds6oddw/2803N7MPNmOU1bmsR5Y1jK3xdD1ge852QzpUv7coiD78kPIBeJbhrHtN53SsaqZfZ+Cl+XCLVAqOTvQh4U17G/X4GhixxVCo5keP4/EFvYzV9C0T+zWh8fW/N24VibeJ4RcEfOKADKf6B+PkKvmWSUB7CphfleFJUTrIZSO0dVh9EjHSpcZC1rySrzPK7vw0c6zWh1IJcW3e3BC3JlsO7bK+V19LaRH+/BkirP1E/g8xv9rxo1iGzvpTlin2cnGcSbNfFZHJMOzzEF0P6endLyYoE+6sf4v+3ILzL3MZx6gtpD3xOnFP21/ntOoAwAA" />
    <add key="/lpc/nct6797d/fan/2/values" value="H4sIAAAAAAAEAIs74rB0LfsNDwaGA/91TGKYGKCAvce3C8aezO6rxghmHfhfxY5Q4/BITQ3GBgA/Pf1ySAAAAA==" />
    <add key="/lpc/nct6797d/fan/3/values" value="H4sIAAAAAAAEAIs74rB0LfsNDwaGA/91TGKYGKCAvce3C8aezO6rxghmHfhfxY5Q4/BITQ3GBgA/Pf1ySAAAAA==" />
    <add key="/lpc/nct6797d/fan/4/values" value="H4sIAAAAAAAEAIs74rB0LfsNDwaGA/91TGKYGKCAvce3C8aezO6rxghmHfhfxY5Q4/BITQ3GBgA/Pf1ySAAAAA==" />
    <add key="/lpc/nct6797d/fan/5/values" value="H4sIAAAAAAAEAIs74rB0LfsNDwaGA/91TGKYGKCAvce3C8aWlvZVYwSzDvz/9DkarsbhkZoajA0AmsZPn0gAAAA=" />
    <add key="/lpc/nct6797d/fan/6/values" value="H4sIAAAAAAAEAIs74rB0LfsNDwaGA/91TGKYGKCAvce3C8aWlvZVYwSzDvz/9DkarsbhkZoajA0AmsZPn0gAAAA=" />
    <add key="/lpc/nct6797d/control/0/values" value="H4sIAAAAAAAEACt+7bB0LfsNDwaGA//FeWOYGMDghBN7j28XjL1Kz1eNEcw+8D/5QTRcjcMjNTUYGwDS5OubSAAAAA==" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAD2TXUhTYRzGNzPFiqAPYcOluZCRSk36gi6k56UsrbzKLJRsM7MgBCGlwD60lCIMm1PPWWx+lLVNLcuMRpR2uZS6Ean8qAuR1KURYVozW+c5da5+PDz/5zzn/77nQXRRa0fku30aTe/ir1RJqwk9iWVLhClwKuwvF457sDo/V+HiC050x+crXPDcA0+3ReGk+ytFZ5CcccCBPoNV4ajkBsStov/8RhmV7fRcztCKalA/fHMIvv3UK7IcSLda/3PvGbJGI6F0Pbk9V0JnMXksQYbFQbZ9kZC9k+wtljFuI/u3y3DVkr+/8KI8/V/mR8QvJwdD3Zq3kjc9vg29n3zutxuHVC6M0IuCTPas7IsUkx3snzZrEJGuEwpf7HHj0uQxhcdr7sBTS0/HsAOPkk4qvGubA+YrzEneK6GtibOZRglVI8fV2QFcLeF7e71RYmDIourzWJNEv2/UCbOJ+l1zI25cp988IiNHT72n0SCaK9T+aetE+ghnB3UxwrCQp/CzrimUHqRuTViAfwVnP+dEiHmZbNctFTV25px1v0KBnt9l/OpCXD89/lmd2KLu9pvtCar91FOXGcWHLOZHBUYxEUY9elpCoII5M8F6HImlrg9vhVHPnJ64ZrycUM9x1oNhdSeBlFix9g39k/ec+KSe0eiYA2UWnUm5xKH7vDv5lpYd6mBaUP1VWrFjguzaLOH0Ijlrgx3XHOwTXdSA6jlmVrXVw/aQnryfTfAm0pOdKcP5tFDh6WDIX8J/ZK62BbZ+zoYPNiFD7dmyx46+9+pOXtfBN0X2xXpQVE5/zIyMt1ryUZ8dXWoHb8oP/AEXv6LAqAMAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAPv5KmnpWvYbHgwMB/7XnVvEyAAEysztrjNuZDCB2JuY2l1PlcaA2eGrW1w/NCeB2ZWn2l1Xv08Esxc1R7neSIKIi7L7uV6QgbDfXAl1DV8LYW86r+dqrghhVwP1eiyBsGtSwl3fvoCYUwMUf+AHEeeN6nQ1aISweYDsbHkI22VSh6tzHEL87loEe45qEtwcuZUI9vdviXA13hch4ouBbp4pmwT34yQzCPuVVZtra+hRFhjboR2itwpozvXOZDB7M1C9zrwUuPp8wXgwOwIYPh2TkuHu36idBvfv14JEuF0VW1LgbLW7CXB/9RQlwc05fA+ivmSJrOtEcYj6F8DwlBdJhKs/3QRR/+RggusaN4i4UnGr68RoRFhZ9CPc6V+YALfX0xchnvwLId64FmLOS6C4aBMifJZuS4KHwww7CLv/cbPrrb+JcHM+iyPUBAdCzNcIVnI1Z0SkE4keSPjEuIa4lj1IgIePmD1Er+CXCNfH1xBxp5wGYfcB7dr7MRGu3vgUwo+dwvzq4IQLTMO+ErPATA2gOdHQdPIC6Lb9vyF6uYDiq/8nwsOTfQ7EPc+AakwvQNRPuybqqnYMoubG7DLXXBuImgXT/F2XhaSD2Q5Ae7cfjoHnhbozEL2cQPP5z0H0OgLV5D2H2gtMD0bvIOwKoPrU4iMsMPbmX0lw9QBb+rHokAMAAA==" />
    <add key="/lpc/nct6797d/control/1/values" value="H4sIAAAAAAAEAEWSX0hTYRjGZy1GE9ui9WdI1mKJA69mXRRZPgezYIVLW4YDt7MzjRkcIxdIf8QWhUwNC8sskUU5lVhE7KIVwaIio1LZrPSyIiuM8EZdLqjTeb+znavfeXi+93u/532Lt2Iwopnar1LF/9YlnctU0vfi+QWc8XlkTi+dRolakLnEWoVz60j3NwvwLyfW6SoR2Ut8xOHA5eGs3hgm1mprEdxOrNeNw/KKZ3WeYPYT6Xa7GzXVxFZrADMhYkuRmtu3k7hI4tkknZ3+uIj1baQ7HEYONg/rP403E8Qu1zfMXyUee5fD7WZnhwZforSW9IX5LhhNxFNSzVPHiB/HfkA/Smyzabj7YZ7V+Yq4qV7mzs6zSMy5ZI5G/dBw5G8SB/Cgup7VWcH1p5QctNzdkFfm2yED17zklvmALZ9bW06e7zMf8GeAuKDgEoI1AvPb0boh23OVWWBnj8O0Opt/1xjP/MPQNJAeCNxEXjv5RfEXytTkeT06hy2/eTavRaxsIr/B8BMj25RZf8HJciGTz8Iqnr3rGQRRmd0j+PRKDxcRyReYpw/iHtL7bznRa87uxgkLeUp39SCVR7rXG8Xke+JG33mkDit9hrBjs5JhEKYOJZ9WFMY8mVk8dBwszPn/I+2zM0b73NLSjnG3kMlkIk41jcYrqGQ7c0javY1lytx9+JzrYVmJ6HsrsP47MB1zsx27B2MxeSoqwjAnybNJ6udoIvvGnkm6q/d6A7rvECcTQQw9VWbUhjVpZbdvQH+Nz/RTl+tl2XbjHxkjUv+oAwAA" />
    <add key="/lpc/nct6797d/control/2/values" value="H4sIAAAAAAAEANNRdVy6lv2GBwPDgf9xl6OZGIBg+rQ0J/Ye3y4Y2yrTV40RxAGqubwUocbhkZoajA0ATWMlOUgAAAA=" />
    <add key="/lpc/nct6797d/control/3/values" value="H4sIAAAAAAAEANNRdVy6lv2GBwPDgf9xl6OZGIBg+rQ0J/Ye3y4Y2yrTV40RxAGqubwUocbhkZoajA0ATWMlOUgAAAA=" />
    <add key="/lpc/nct6797d/control/4/values" value="H4sIAAAAAAAEANNRdVy6lv2GBwPDgf9xl6OZGIBg+rQ0J/Ye3y4Y2yrTV40RxAGqubwUocbhkZoajA0ATWMlOUgAAAA=" />
    <add key="/lpc/nct6797d/control/5/values" value="H4sIAAAAAAAEANNRdVy6lv2GBwPDgf9xl6OZGIBg+rQ0J/Ye3y4Y2yrTV40RxAGqubwUocbhkZoajA0ATWMlOUgAAAA=" />
    <add key="/lpc/nct6797d/control/6/values" value="H4sIAAAAAAAEANNRdVy6lv2GBwPDgf9xl6OZGIBg+rQ0J/Ye3y4Y2yrTV40RxAGqubwUocbhkZoajA0ATWMlOUgAAAA=" />
  </appSettings>
</configuration>